.user{
    background: #EEE;
    border:1px solid #666;
    padding: 5px;
    font-size: 2rem;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    display: block;
    width: 400px;
    position: relative;
}

.user label{
    width: 120px;
    border-right: 2px solid #888;
    color: #444;
    display: inline-block;
    background: #FFF;
}
.remove{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    bottom: 4px;
    right: 4px;
    text-transform: lowercase;
    cursor: pointer;
    line-height: .59;
    color: #0f0f0f;
    background-color: rgb(224, 108, 108);
}
.remove:hover{
    color: white;
    background-color: red;
    transition: all .5s ;
}
.user span{
    width: 278px;
    color: #444;
    display: inline-block;
}